.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-top: 16px;
}

nav .menu{
    list-style-type: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav{
    width: 100%;
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    font: 14px;
    align-items: center;
    gap: 10px;
    box-shadow: 0 10px 20px 0 #0000002f;
}

/* .btn img{
    margin-left: 10px;
} */

.trans-btn{
    background-color: transparent;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    font: 14px;
    gap: 10px;
}

.trans-btn img{
    width: 20px;
}

#banner{
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner .banner-head .round-btn{
    border: none;
    border-radius: 1000px;
    padding: 12px 8px;
    text-align: center;
    color: #469165;
    font-weight: 500;
    cursor: pointer;
    margin-top: 115.5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 530;
}

#banner .banner-head{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#banner .banner-head h1{
    font-size: 72px;
    margin-bottom: 16px;
}

.white{
    color: #FFFFFF;
}
.green{
    color: #30B868;
}

#banner .banner-head button{
    margin-bottom: 16px;
    margin-top: 115.5px;
}

#banner .banner-head p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}

#banner .two-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 179.5px;
}

nav button{
    margin-left: 346px;
}

#card-section .frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-section .frame h2{
    margin-top: 40px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

#card-section .frame p{
    line-height: 20px;
    color: #627382;
}

#card{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 44px;
    justify-content: center;
    padding: 24px;
    /* width: 100%; */
    /* max-width: 1360px; */
    /* width: 322px;
    height: 300px; */
}

#card div{
    flex-direction: column;
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 8px;
    width: 322px;
    height: 300px;
    box-shadow: 0 0 8px 0 #0000001a;
}

#card img{
    /* margin: 69.5px 131px 170.5px; */
    margin-top: 69.5px;
    padding: 12px;
    border-radius: 2000px;
    background-color: #F95555;
}

#card div h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

#card div p{
    color: #627382;
    margin: 16px 24px 69.5px;
    line-height: 20px;
}

#knowledge{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 120px; */
    margin: 120px;
}

#knowledge .knowledge-text{
    margin-left: 60px;
}

#knowledge .solution{
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

#knowledge h1{
    font-size: 48px;
    color: #001931;
}

#knowledge .para{
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 40px;
}

#knowledge img{
    margin-right: 6px;
}

#knowledge .check{
    line-height: 20px;
    margin-bottom: 16px;
}

#banner2{
    background-color: #F7F6F2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 120px 120px;
    border-radius: 12px;
}

#banner2 h2{
    font-size: 40px;
    margin-top: 80px;
}

#banner2 p{
    color: #627382;
    line-height: 24px;
    margin-top: 16px;
}

#banner2 button{
    margin-top: 24px;
}

#banner2 .foot-para{
    margin-bottom: 80px;
}

#foot{
    background-color: #001931;
    padding: 120px 120px 30px;
    color: white;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
#foot2{
    background-color: #001931;
    color: #fafafaa9;
    line-height: 24px;
    text-align: center;
    /* margin-top: 1px; */
}

#foot .foot-social{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foot .social-para{
    margin-bottom: 16px;
}

.social-image img{
    width: 30px;
    cursor: pointer;
}

/* .hr{
    color: #fafafa4d;
} */

.round-btn img{
    width: 20px;
    /* background-color: white; */
    margin-right: 1.5px;
}